<configuration>
  <configSections>
    <section name="Network" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Network>
    <add key="Scheme" value="https" />
    <add key="Query" value="UTC/s/0/java" />
    <add key="PollingInterval" value="5000" />
  </Network>
</configuration>