# Auto detect text files and perform LF normalization
*.cs       eol=crlf
*.n        eol=crlf
*.csproj   eol=crlf
*.nproj    eol=crlf
*.sln      eol=crlf
*.config   eol=crlf
*.cmd      eol=crlf
*.ini      eol=crlf
*.json     eol=crlf
*.ps1      eol=crlf
*.txt      eol=crlf
*.xml      eol=crlf

.gitattributes      merge=text

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union
*.nproj merge=union

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain
