<configuration>
  <configSections>
    <section name="Network" type="System.Configuration.NameValueSectionHandler" />
    <section name="Data" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <Network>
    <add key="Scheme" value="http" />
    <add key="Domain" value="www.time.gov" />
    <add key="Query" value="Eastern/d/-5" />
    <add key="Action" value="timezone.cgi" />
    <add key="Url" value="${Scheme}://${Domain}/${Action}?${Query}" />
  </Network>
  <Data>
    <add key="Drive" value="C:\" />
    <add key="Folder" value="." />
    <add key="LogFile" value="${Network|Scheme}.xml" />
  </Data>
</configuration>